/* Login Auth
----------------------------------- */
html, body {
  height: 100%;
  width: 100%;
}

@mixin bgconfig($gradient1, $gradient2) {
  background: linear-gradient($gradient1, $gradient2), url('/img/coffee_laptops.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom right;
}

body.dark {
  @include bgconfig(rgba(14, 14, 14, 0.59), rgba(35, 34, 38, 0.55));

  .alt {
    @include bgconfig(rgba(50, 50, 50, 0.89), rgba(35, 34, 38, 0.85));
  }
}

.darktext {
  color: rgba(255, 255, 255, 0.8);
}

.big-checkbox {
  width: 30px;
  height: 30px;
}

.copyright {
  margin-top: 50px;
  text-align: center;
}

.addtop > button {
  margin-top: 25px;
}

.login {
  height: 100%;
  width: 100%;
  display: block;
  color: #ddd;
}

.login-area {
  height: 100%;
  width: 500px;
  background: rgba(15, 16, 16, 0.85);
  float: right;
  padding: 50px 25px;
}

.login-area > form {
  margin-top: 25px !important;
  width: 100%;
}

.alt > .login > .login-area {
  background: rgba(15, 16, 16, 0.65);
  margin: 0 auto;
  padding: 100px 40px;
  width: 550px;
  float: none;
}

  .alt > .login > .login-area > .login-header {
    text-align: center;
  }

  .alt > .login > .login-area > .login-header > h1 > i {
    display: none;
  }

footer.auth {
  float: left;
  left: 0;
  bottom: 0px;
  position: fixed;
  max-height: 150px;
  padding: 20px 40px;
  z-index: -9999;
  width: 100%;
  background: rgba(15, 16, 16, 0.95);
}

  footer.auth > p {
    font-size: 110%;
  }

.alt > .login > footer.auth {
  display: none;
}

form {
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width: 1600px) {
  .alt > .login > .login-area {
    padding-top: 3%;
    width: 450px;
  }
}

@media (max-width: 1348px) {
  footer.auth {
    display: none;
  }
}

@media (max-width: 550px) {
  .alt > .login > .login-area {
    background: #111;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 20% 15px;
  }
}

@media (max-width: 500px) {
  .login-area {
    background: #111;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
  }
}

@media (max-width: 768px) {
  #show_pass_button {
    color: #111;
  }
  #show_pass_button:hover {
    color: #fff;
    background: #111;
  }
}

@media (min-width: 768px) {
  .container {
    width: 350px;
    margin-top: 5%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 350px;
    margin-top: 5%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 350px;
    margin-top: 5%;
  }
}
