html, body {
  height: 100%;
  width: 100%;
}

body.dark {
  background:
    linear-gradient(
      rgba(14, 14, 14, 0.59),
      rgba(35, 34, 38, 0.55)
    ),
    url('../../cache/custom/img/coffee_laptops.jpg');
  background-size: cover;
  background-position: bottom right;
  /*background: #151616;*/
}

body.dark.alt {
  background:
    linear-gradient(
      rgba(50, 50, 50, 0.89),
      rgba(35, 34, 38, 0.85)
    ),
    url('../../cache/custom/img/coffee_laptops.jpg');
  background-size: cover;
  background-position: bottom right;
}

.darktext {
  color: rgba(255,255,255,0.8);
}

.copyright {
  margin-top: 50px;
  text-align: center;
}

.addtop > button {
  margin-top: 25px;
}

.login {
  height: 100%;
  width: 100%;
  display: block;
  color: #ddd;
}

.login-area {
  height: 100%;
  width: 500px;
  /*background: rgba(255,255,255,0.75);*/
  background: rgba(15,16,16,0.85);
  float: right;
  padding: 50px 25px;
}
  .login-area > form {
    margin-top: 25px !important;
    width: 100%;
  }

.alt > .login > .login-area {
  background: rgba(15,16,16,0.65);
  margin: 0 auto;
  padding: 100px 40px;
  width: 550px;
  float: none;
}

.alt > .login > .login-area > .login-header {
  text-align: center;
}
  .alt > .login > .login-area > .login-header > h1 > i {
    display: none;
  }

footer.auth {
  float: left;
  left: 0;
  bottom: 0px;
  position: fixed;
  max-height: 150px;
  padding: 20px 40px;
  z-index: -9999;
  width: 100%;
  background: rgba(15,16,16,0.95);
}
  footer.auth > p {
    font-size: 110%;
  }

.alt > .login > footer.auth {
  display: none;
}

form {
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width: 1348px) {
  footer.auth {
    display: none;
    /*position: absolute;
    float: left;
    top: 0px;
    height: 100vh;
    padding: 0 auto;*/
  }
}

@media (max-width: 550px) {
  .alt > .login > .login-area {
    background: #111;
    color: rgba(255,255,255,0.8);
    width: 100%;
    padding: 20% 15px;
  }
}

@media (max-width: 500px) {
  .login-area {
    background: #111;
    color: rgba(255,255,255,0.8);
    width: 100%;
  }
}

@media (max-width: 768px) {
  #show_pass_button {
    color: #111;
  }

  #show_pass_button:hover {
    color: #fff;
    background: #111;
  }
}
@media (min-width: 768px) {
  .container {
    width: 350px;
    margin-top: 5%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 350px;
    margin-top: 5%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 350px;
    margin-top: 5%;
  }
}
